main {

}

body {
    border-left: 100px solid #000;
    border-right: 100px solid #000;
    background-color:#000;
}

.header {
  background-color:#462C51;
  height:100%;
}

#nav {
  background-color:#F87735;
  border: 10px solid #000;
}

#banner {
  background-color:#C8B858;
  border: 10px solid #000;
}

.aside-links {
  background-color:#CF848B;
  border: 10px solid #000;
}

.content {
  background-color:#211009;
  border: 10px solid #000;
}

.sub-banner {
  background-color:#C8B858;
  border: 10px solid #000;
}

.sub-content {
  background-color:#211009;
  border: 10px solid #000;
}

/*=============================RESPONSIVE===========================*/
@media screen and (max-width : 768px) {
  .header {
    background-color:red;
  }
  #banner {
    background-color:#33E;
  }
  #banner h1{
    font-size:1em;
  }
}

@media screen and (max-width : 375px) {
  body {
    border-left: 10px solid #FFF;
    border-right: 10px solid #FFF;
  }
  .sub-content {
    background-color:#444333;
    color:#FFF;
  }
}
