main, body {
}

body {
  padding:0px 100px;
}

.container {
  margin:100px 10px;
}

.header {
  background-color:#462C51;
  height:100%;
}

#nav {
  background-color:#F87735;
}

#banner {
  background-color:#C8B858;
}

.aside-links {
  background-color:#CF848B;
}

.content {
  background-color:#211009;
}

.sub-banner {
  background-color:#C8B858;
}

.sub-content {
  background-color:#211009;
}
